

.gigItem {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    line-height: 32px;
    height: 45px;
    position: relative;
    border-bottom: 2px dashed black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    @media(max-width: 600px) {
        margin: 0 auto;
        width: 70%;
        
        height: auto;
    }

    &:hover {
        opacity: 0.7;
        background: linear-gradient(#ebeffa,#e6e6e6, #e6e6e6, #e6e6e6, #ebeffa);
    }
}

.location {
    padding: 0 10px;
    min-width: 200px;
    text-align: left;

    @media(max-width: 600px) {
        min-width: none;
       
    }
}

.date {
    padding: 0 10px;
    min-width: 200px;
    text-align: right;

    @media(max-width: 600px) {
        min-width: none;
        text-align: left;
    }
}

.button {
    position: absolute;
    top: 5px;
    @media(max-width: 599px) {
        display: none;
    }
}

.arrow {
    height: 40px;
    width: 40px;
    padding: 5px 0 0 10px;
    position: absolute;
    right: 10px;
    bottom: 20px;

    @media(min-width: 600px) {
        display: none;
    }
}