
.gigList {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    font-size: 20px;
    z-index: 1;
}

.gigListItem {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    line-height: 32px;
}

.gigListItem > div {
    padding: 0 10px;
}

.button {
    
}