
.gigList {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    font-size: 20px;
    z-index: 1;
    margin-bottom: 20px;
}

.header {
    text-align: center;
    text-decoration: underline;
    font-size: 24px;
    margin-bottom: 10px;
}

.contactRequest {
    padding: 10px 0 0 0;
}

.contactRequestWithGig {
    padding: 20px 0 0 0;
    text-align: center;
}

.contact {
    text-decoration: underline;
}