
.musicInfo {
    display: flex;
    justify-content: space-around;
    width: calc(100% - 40px);
    margin: 20px;
    flex-wrap: wrap;
    z-index: 1;
}

.musicInfoitem {
    display: inline-block;
    vertical-align: top;
    margin: 20px;
    color: black;
    text-decoration: none;
    transition: opacity 0.3s ease-in-out;
    position: relative;
    font-size: 24px;
}

@media(max-width: 500px) {

    .musicInfo {
        justify-content: center;
        width: 100%;
        margin: 0;
    }
    .musicInfoitem {
        width: 100%;
        text-align: center;
    }
}

.musicInfoitem:hover {
    opacity: 70%;
}

.musicInfoitem__image {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid black;
}

.musicInfoitem__year {
    font-size: 20px;
}

.musicInfoitem__moreImage {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    opacity: 0.3;
    position: relative;
}

.musicInfoitem__moreImageOverlay {
    font-size: 40px;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    position: absolute;
    top: 110px;
    left: 30px;
    display: flex;
    justify-content: space-around;
}

.moreIcon {
    height: 40px;
    width: 40px;
    color: black;
    padding: 5px 0 0 10px;
}

@media (max-width: 500px) {
    .musicInfoitem__moreImageOverlay {
        left: 48vw;
    }
}

