.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tagLine {
    font-size: calc(14px + 1.5vw);
}

.logo {
  width: 100%;
  max-width: 1200px;
  margin: -6vw 0 -12vw 0;
}

.socialIcons {
    display: flex;
    justify-content: space-around;
}

.socialIcon {
    padding: 0 10px 0 10px;
    cursor: pointer;
    color: white;
    width: 60px;
    filter: drop-shadow(0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5));
}

@media (max-width: 400px) {
    .socialIcon {
        font-size: 2rem;
        padding: 0 5px 0 5px;
    }
}

.socialIcon:hover {
    color: #ff4e0c;
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.spotify {
    color: green;
}

.facebook {
    color: #34579a;
}

.twitter {
    color: #53a9de;
}

.bandcamp {
    color: #579aa8;
}

.soundcloud {
    color: #ff5621;
}

.youtube {
    color: #f02324;
}


