
.container {
    min-height: 100vh;
    width: 100%;
}

.content {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 24px;

    @media (max-width: 600px)  {
        padding: 40px 10px 0 10px;
    }
}

.name {
    font-size: 34px;
    @media (max-width: 600px)  {
        padding: 5px 0;
    }
}

.year {
    @media (max-width: 600px)  {
        padding: 5px 0;
    }
}

.description {
    font-size: 22px;
    max-width: 500px;
    padding: 0 0 10px 0;
    @media (max-width: 600px)  {
        padding: 5px 0;
    }
}

.releaseIcons {
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    margin: 0 auto 10px auto;
    @media (max-width: 600px)  {
        padding: 30px 0;
    }
}

.releaseIcon {
    padding: 0 10px 0 10px;
    cursor: pointer;
    width: 60px;
    filter: drop-shadow(0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5));
    height: 50px;
    font-size: 40px;
}

@media (max-width: 600px) {
    .releaseIcon {
        font-size: 2rem;
        padding: 0 10px;
    }
}

.releaseIcon:hover {
    color: rgba(34,	178, 218, 0.5);
    transition: color 0.5s ease-in-out;
}

.spotify {
    color: green;
}

.bandcamp {
    color: #579aa8;
}

.soundcloud {
    color: #ff5621;
}

.youtube {
    color: #f02324;
}

.apple {
    color: black;
    font-size: 45px;
    margin-top: -10px;
    @media (max-width: 600px) {
        margin-top: -10px;
    }
}

.deezer {
    color:  #107fb8;
    padding: 0;
    margin: 0 10px 0 10px;
    border-radius: 10px;
    overflow: hidden;
    width: 45px;
    height: 45px;

    @media (max-width: 600px) {
        height: 38px;
        margin-top: 0;
    }
}
.deezer:hover {
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
}

.releaseHomeIcon {
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    font-size: 30px;
    margin: 20px
}

.releaseHomeIcon:hover {
    color: #22b2da;
}

.releaseHomeButtonContainer {
    max-width: 600px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    @media(max-width: 500px) {
        margin-bottom: 20px;
    }
}

.releaseHomeButton {
    width: 150px;
    margin: 20px auto;

    @media(max-width: 500px) {
        width: 60%;
        min-width: 150px;
        padding: 0 20px;
        margin: 5px auto;

    }
}

.releaseNotWritten {
    font-size: 26px;
    text-align: center;
}

.youtubeVideo {
    margin: 0 auto;
    padding: 20px 0 10px 0;
    max-width: 600px;
}

